.button-container {
  /*display: flex;*/
  grid-area: buttons;
  background: black;
}

.button {
  justify-content: space-between;
  background: none;
  background-color: #000;
  color: white;
  border: none;
}

.fab {
  font-size: 100px;
}