button:focus {
  outline:0;
}

.button-container {
  background: black;
  display: grid;
  align-self: center;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  color: white;
  border-right: solid 1px white;
  z-index: 2;
  grid-area: button;
}
.button {
  justify-content: space-between;
  background: none;
  background-color: #000;
  color: white;
  border: none;
  justify-self: center;
  display: inherit;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
}

.fab {
  font-size: 100px;
  transition: all .25s ease-in-out;
}

.fab:hover {
  font-size: 120px;
}

.selected .fab {
  font-size: 120px;
  color: #FEDA4B;
}

@media screen and (max-width: 544px) {
  .button-container {
    display: inline-flex;
    grid-template-areas: 
    'button'
    'card-container';
    position: absolute;
    width: 100%;
    font-size: 0px;
    justify-content: space-around; 
  }
  .button {
    display: flex;
  }
  .fab {
    font-size: 80px;
  }
  .selected .fab {
    font-size: 80px;
  }
  .fab:hover {
    font-size: 90px;
  }
}

@media screen and (max-width: 400px) {
  .button-container {
    display: inline-flex;
    grid-template-areas: 
    'button'
    'header'
    'card-container';
    position: absolute;
    width: 100%;
    font-size: 0px;
    justify-content: space-around; 
  }
  .button {
    display: flex;
  }
  .fab {
    font-size: 45px;
  }
  .selected .fab {
    font-size: 45px;
  }
  .fab:hover {
    font-size: 50px;
  }
}
