.card-container {
background: transparent;
display: flex;
flex-direction: row;
flex-wrap: wrap;
grid-area: card-container;
grid-gap: 10px;
justify-content: space-around;
padding: 10px;
position: fixed;
z-index: 2;
height: 100%;
overflow-y: scroll;
margin-bottom: 30px;
}

.no-favs{
  color: #FEDA4B;
  font-size: 2em;
}