.card-container {
  grid-area: card-container;
  background: transparent;
  display: flex;
  position: fixed;
  grid-gap: 10px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
  grid-area: card-container;
}