@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  overflow: hidden;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas: 'button card-container'; 
}
.App-link {
  color: #61dafb;
}
li {
  list-style: none;
}
header {
  background: #000;
  grid-area: header;
  z-index: 2;
}
.load{
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.load-image{
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: step-middle;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
} 
.title {
  background-color: #000;
  align-items: center;
  justify-content: center;
  color: #FEDA4B;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  margin-top: 20px;
  font-size: 3em;
  width: 100%;
  grid-area: title;
}

@media screen and (max-width: 544px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr; 
    grid-template-areas: 
    'button'
    'header'
    'card-container'
  }
  header {
    font-size: 1em;
  }

}

@media screen and (max-width: 544px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr; 
    grid-template-areas: 
    'button'
    'header'
    'card-container'
  }
  header {
    font-size: 1em;
  }

  .title {
    margin-top: 0;
  }

  .button-container {
    display: inline-flex;
    grid-template-areas: 
    'button'
    'card-container';
    position: absolute;
    width: 100%;
    font-size: 0px;
    justify-content: space-around; 
  }
  .button {
    display: flex;
  }
  .fab {
    font-size: 80px;
  }
  .selected .fab {
    font-size: 80px;
  }
  .fab:hover {
    font-size: 90px;
  }
}

@media screen and (max-width: 544px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr; 
    grid-template-areas: 
    'button'
    'header'
    'card-container'
  }
  header {
    font-size: .74em;
  }

  .title {
    margin-top: 0;
  }
}



