@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  overflow: hidden;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 150px 1fr;
}
.App-link {
  color: #61dafb;
}
li {
  list-style: none;
}
header {
  background: #000;
}
.title {
  background-color: #000;
  align-items: center;
  justify-content: center;
  color: #FEDA4B;
  font-family: 'Russo One', sans-serif;
  margin: 0;
  margin-top: 20px;
  font-size: 3em;
  width: 100%;
}