.card {
  border: 5px solid #FEDA4B;
  background-color: black;
  display: grid;
  border-radius: 20px;
  width: 184px;
  margin: 1em;
  height: 300px;
  color: #FEDA4B;
  justify-items: left;
  padding-left: 7px;
}

.favorited {
  background-color: #FEDA4B;
}